.blog {
  padding: 0 0 20px;
  &__card {
    max-width: 428px;
    width: 100%;
    height: 233px;
    border-radius: 16px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 40%;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      mask-image: linear-gradient(to top, #000 25%, rgba(0, 0, 0, 0) 100%);
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 40%;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, #000 -11%, rgba(255, 255, 240, 0));
    }

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }

    &--title {
      color: var(--color-white);
      font-size: 22px;
      white-space: pre-line;
      position: relative;
      z-index: 10;
    }
  }

  &__action {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 22px;
    inset: 0;
    z-index: 99;
    &--btn {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
