.hero {
  height: 700px;
  background: url('../img/hero.jpg') no-repeat center center/cover;
  color: var(--color-white);
  padding: 0 100px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &.hero-2 {
    background: url('../img/hero-2.jpg') no-repeat center center/cover;
  }
  &.hero-3 {
    background: url('../img/hero-3.webp') no-repeat center center/cover;
  }

  &__content {
    &--title {
      font-weight: 700;
      font-size: 80px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    &--subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      margin-top: 16px;
      margin-bottom: 30px;
      line-height: 22px;
    }

    &--text {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 32px;
    }

    &--actions {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
