*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-bg: #fefefe;
  --color-black: #000000;
  --color-white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);

  background-color: var(--color-bg);
  color: var(--color-black);

  font-weight: 400;
  font-size: 15px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.page__main {
  flex: 1;
}

@import 'header';
@import 'hero';
