*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-bg: #fefefe;
  --color-black: #000000;
  --color-white: #fff;
}

body {
  font-family: var(--font-montserrat);

  background-color: var(--color-bg);
  color: var(--color-black);

  font-weight: 400;
  font-size: 15px;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.page__main {
  flex: 1;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  padding: 10px 1cqmax 10px 16px;
  border-radius: 40px;
  line-height: 18px;
  font-size: 16px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 150px;
  text-align: center;
  justify-content: center;
  width: fit-content;
  &-primary {
    background-color: rgb(13, 126, 248);
    border-color: rgb(36, 80, 245);
  }
  &-default {
    border-color: var(--color-black);
    color: var(--color-black);
  }

  &-white {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);
  }
  svg {
    width: 18px;
    height: 18px;
  }
}

.title {
  font-weight: 700;
  font-size: 80px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  line-height: 22px;
}

.text {
  font-size: 24px;
  font-weight: 600;
}

@import 'header';
@import 'hero';
@import 'catalog';
@import 'slider';
@import 'shop';
