<footer class="footer">
  <div class="footer__top">
    <div class="footer__official">
      <a href="#">
        <img src="icons/logo-black.svg" alt="logo" />
      </a>
    </div>
    <div class="footer__social">
      <p>Follow us on social media</p>
      <div class="footer__social--wrapper">
        <a href="#" class="footer__social--item">
          <img src="icons/socials/instagram.svg" alt="instagram" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/tiktok.svg" alt="tiktok" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/facebook.svg" alt="facebook" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/twitter.svg" alt="twitter" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/youtube.svg" alt="youtube" />
        </a>
      </div>
    </div>
    <!-- <div class="footer__locale">
      <img src="img/english.png" alt="english" />
      <a href="#">Change locale</a>
    </div> -->
  </div>
  <div class="footer__bottom">
    <p>
      © 2025 TREND MOBILE. All Rights Reserved.<br />
      TREND MOBILE and the Stylized M Logo are registered trademarks of TREND MOBILE Trademark
      Holdings, LLC<br />
      All mobile phones are designed and manufactured by TREND MOBILE
    </p>
  </div>
</footer>
