<footer class="footer">
  <div class="footer__top">
    <div class="footer__official">
      <p>Web oficial</p>
      <a href="#">
        <img src="icons/logo-black.svg" alt="logo" />
      </a>
    </div>
    <div class="footer__social">
      <p>Follow us on social media</p>
      <div class="footer__social--wrapper">
        <a href="#" class="footer__social--item">
          <img src="icons/socials/instagram.svg" alt="instagram" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/tiktok.svg" alt="tiktok" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/facebook.svg" alt="facebook" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/twitter.svg" alt="twitter" />
        </a>
        <a href="#" class="footer__social--item">
          <img src="icons/socials/youtube.svg" alt="youtube" />
        </a>
      </div>
    </div>
    <div class="footer__locale">
      <img src="img/english.png" alt="english" />
      <a href="#">Change locale</a>
    </div>
  </div>
  <div class="footer__bottom">
    <p>
      © 2025 Motorola Mobility LLC. All Rights Reserved.<br />
      MOTOROLA and the Stylized M Logo are registered trademarks of Motorola Trademark Holdings,
      LLC<br />
      All mobile phones are designed and manufactured by Motorola Mobility LLC, a wholly owned
      subsidiary of Lenovo.<br />
      Android, Google, Google Play, Nexus and other marks are trademarks of Google Inc. The Android
      robot is reproduced or modified from work created and shared by Google and used according to
      terms described in the Creative Commons 3.0 Attribution License.
    </p>
  </div>
</footer>
