<header class="header">
  <div class="header__wrapper">
    <div class="header__left">
      <a href="/" class="header__logo"><img src="icons/logo-black.svg" alt="logo" /></a>
      <nav class="header__nav">
        <a href="#" class="header__nav--item">smartphones</a>
        <a href="#" class="header__nav--item">accessories</a>
        <a href="#" class="header__nav--item">services</a>
        <a href="#" class="header__nav--item">offers</a>
      </nav>
    </div>
    <div class="header__right">
      <div class="header__search">
        <input type="text" placeholder="What are you looking for?" />
        <img src="icons/search.svg" alt="search" />
      </div>
      <div class="header__actions">
        <a href="#"><img src="img/support.webp" alt="support" /></a>
        <a href="#"><img src="img/profile.webp" alt="profile" /></a>
        <a href="#"><img src="img/cart.webp" alt="cart" /></a>
      </div>
    </div>
  </div>
</header>
