<section class="hero">
  <div class="hero__content">
    <h1 class="hero__content--title">Dare to Dazzle</h1>
    <div class="hero__content--subtitle">
      Turn heads with the <b>Motorola Razr</b> and <b>Moto Buds Loop</b><br />
      created with crystals by Swarovski<sup>®</sup> .
    </div>
    <div class="hero__content--actions">
      <a href="#" class="hero__content--btn">
        Learn More
        <svg
          width="24"
          height="24"
          class="arrow"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5l7 7-7 7"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
      <a href="#" class="hero__content--btn"> Buy Now </a>
    </div>
  </div>
</section>
