<section class="hero" style="background-image: url(img/hero-2.png)">
  <div class="hero__content" style="margin-top: 15%">
    <!-- <h1 class="hero__content--title">Make it iconic</h1>

    <div class="hero__content--subtitle">
      Style that fits in your palm. Intelligence that fits your life.<br />
      Meet<b> motorola razr 60 ultra </b>and<b> motorola razr 60.</b>
    </div> -->
    <div class="hero__content--actions">
      <a href="#" class="btn btn-primary">
        Offers
        <svg
          width="24"
          height="24"
          class="arrow"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5l7 7-7 7"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>
