<section class="market">
  <h2 class="market__title">Find your perfect match</h2>

  <div class="market__tab">
    <div
      class="market__tab--item"
      v-for="tab in shopTabs"
      :key="tab.code"
      :class="{active: tab.code === selectedShopTab}"
      @click="selectedShopTab = tab.code"
    >
      {{tab.title}}
    </div>
  </div>
  <transition name="fade">
    <div class="market__wrapper" :key="selectedShopTab">
      <div class="market__card" v-for="card in selectedShopArray" :key="card.id">
        <div class="market__card--img">
          <img :src="card.img" :alt="card.title" />
        </div>
        <h3 class="market__card--title">{{card.title}}</h3>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </transition>
</section>
