<section class="slider">
  <div class="slider-swiper swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider__card" style="background-image: url(img/slider-1.jpg)">
          <div class="slider__card--title">
            Come closer with 3x<br />
            telephoto powered by moto ai
          </div>

          <div class="slider__card--subtitle">
            Stunning Photos. Smarter Performance. Quad-curve beauty.
          </div>
          <a href="#" class="btn btn-white">Buy now</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__card" style="background-image: url(img/slider-2.jpg)">
          <div class="slider__card--title">
            Point. Shoot. Edit. <br />Share.Powered by Sony LYTIA<sup>TM</sup>
          </div>
          <div class="slider__card--subtitle">
            Brilliant photography. Sleek design. motorola edge 60 fusion.
          </div>
          <a href="#" class="btn btn-white">Buy now</a>
        </div>
      </div>

      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
